<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="particles-js"></div>
    <div id="page">
      <div id="content">
        <h1>five.three.one</h1>
        <div id="main_form">
          <form action="#" id="orm_form">
            <label for="orm">One Rep Max:</label><br />
            <input style="margin-bottom: 5px; margin-top: 5px;"type="text" id="orm" name="orm" required /><br />
            <button type="submit">Submit</button>
          </form>
        </div>
        <table class="rwd-table">
          <tr>
            <th id="first-row"></th>
            <th>Week 1</th>
            <th>Week 2</th>
            <th>Week 3</th>
            <th>Week 4</th>
          </tr>
          <tr>
            <td data-th="Set 1" id="sets">Set 1</td>
            <td data-th="Week-1">65% x 5</td>
            <td data-th="Week-2">70% x 3</td>
            <td data-th="Week-3">75% x 5</td>
            <td data-th="Week-4">40% x 5 (Deload)</td>
          </tr>
          <tr>
            <td data-th="Set 2" id="sets">Set 2</td>
            <td data-th="Week-1">75% x 3</td>
            <td data-th="Week-2">80% x 3</td>
            <td data-th="Week-3">85% x 3</td>
            <td data-th="Week-4">50% x 3 (Deload)</td>
          </tr>
          <tr>
            <td data-th="Set 3" id="sets">Set 3</td>
            <td data-th="Week-1">85% x 5+</td>
            <td data-th="Week-2">90% x 3+</td>
            <td data-th="Week-3">95%% x 1+</td>
            <td data-th="Week-4">60% x 5 (Deload)</td>
          </tr>
        </table>
      </div>
    </div>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>

    <script src="particles.js"></script>
    <script src="app.js"></script>
  </body>
</html>
